.parallax-mountain__layer(data-speed=0.1)
  img(src=require('images/parallax/mountain/1.png')).parallax-mountain__img
.parallax-mountain__layer(data-speed=0.25)
  img(src=require('images/parallax/mountain/2.png')).parallax-mountain__img
.parallax-mountain__layer(data-speed=0.35)
  img(src=require('images/parallax/mountain/3.png')).parallax-mountain__img
.parallax-mountain__layer(data-speed=0.38)
  img(src=require('images/parallax/mountain/4.png')).parallax-mountain__img
.parallax-mountain__layer(data-speed=0.45)
  img(src=require('images/parallax/mountain/5.png')).parallax-mountain__img
.parallax-mountain__layer(data-speed=0.48)
  img(src=require('images/parallax/mountain/6.png')).parallax-mountain__img
.parallax-mountain__layer(data-speed=0.50)
  img(src=require('images/parallax/mountain/7.png')).parallax-mountain__img
  
    
  
    