.parallax-budda__layer(data-speed=0.1)
  img(src=require('images/parallax/budda/1.png')).parallax-budda__img
.parallax-budda__layer(data-speed=0.25)
  img(src=require('images/parallax/budda/2.png')).parallax-budda__img
.parallax-budda__layer(data-speed=0.35)
  img(src=require('images/parallax/budda/3.png')).parallax-budda__img
.parallax-budda__layer(data-speed=0.38)
  img(src=require('images/parallax/budda/4.png')).parallax-budda__img
.parallax-budda__layer(data-speed=0.45)
  img(src=require('images/parallax/budda/5.png')).parallax-budda__img
.parallax-budda__layer(data-speed=0.5)
  img(src=require('images/parallax/budda/6.png')).parallax-budda__img
